/************************************************/
/*	Feuille de style du site Tera				*/

/****************************/
/*	Menue de navigation		*/


#typotera	{	max-height:100%;	}
#ateraimg	{	padding:0px;		}


/*****************************************/
/*		Section de page principale		*/

/*	page Intro	*/

/*	page Projet	*/

/*	page Principes	*/

/*	page planification	*/

/*	page partenaire	*/

/*	page contact	*/


#sign	{	margin-bottom: 40px;	}

#todo-list	{	}



#intro	{	background: url("../img/carbon_fibre/carbon_fibre.png") repeat;		}
