<!-- TODOList -->
            <!-- HEADER AND TODO COUNT -->
		<div class="jumbotron text-center">
			<h1>A faire <span class="label label-info">{{ todos.length }}</span></h1>
		</div>
		

		<!-- Liste -->
		<div id="todo-list" class="column">
			<div class="col-sm-4 col-sm-offset-4">				

				<!-- LOOP OVER THE TODOS IN $scope.todos -->
				<div class="checkbox" ng-repeat="todo in todos">
					<label>
						<input type="checkbox" ng-click="deleteTodo(todo._id)"> {{ todo.text }}
					</label>
				</div>

				<p class="text-center" ng-show="loading">
					<span class="fa fa-spinner fa-spin fa-3x"></span>
				</p>

			</div>
		</div>

		<!-- Formulaire de création -->
		<div id="todo-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="form-group">
						
						<!-- Lier cette valeur à formData.text dans ANGULAR -->
						<input type="text" class="form-control input-lg text-center" placeholder="Ajoutez une tâche à faire" ng-model="formData.text">
					</div>

					<!-- createToDo() créé une souvelle tâche -->
					<button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Ajouter</button>
				</form>
			</div>
		</div>

		<div id="sign" class="text-center text-muted">
			<p>Démo par Poka</p>
			<p>PhenixIT</p>
		</div>
   </div>
